.toDoList {
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  height: 25em;
  width: 45em;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 3em;
  border-radius: 1em;
  text-align: center;
}

.textBox {
  width: 35rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  height: 2rem;
  margin-bottom: 1rem;
}

.footer {
  border-radius: 0.5rem;
  width: 41rem;
  margin-left: 2.1rem;
  font-size: 1.5rem;
  height: 2.5rem;
  background-color: #ffffff;
  margin-top: 1rem;
}

.listItemContainer {
  border-radius: 0.5rem;
  background-color: #ffffff;
  height: 10rem;
  width: 41rem;
  margin-left: 2.1rem;
  overflow-y: auto;

}

.listItem {
  border-radius: 0.5rem;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  text-align: left;
  color: #ffffff;
  height: 2rem;
  font-size: 1.5rem;
  margin: 0.2rem 0.3rem;
  width: 39rem;
}

.line-through {
  text-decoration: line-through;
}

.hidden {
  visibility: hidden;
}

.deleteButton {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: #ffffff;
  float: right;
  font-size: 1.4rem;
}

.taskContent {
  height: 1.4rem;
  font-size: 1.4rem;
  width: 34rem;
}

.taskUneditable {
  border: none;
  height: 1.4rem;
  width: 34rem;
  font-size: 1.4rem;
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
}

.chosen {
  background: linear-gradient(to bottom, #66ffff 20%, #66ccff 100%);
  color: black;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  float: bottom;
  font-weight: bold;
  padding: 0.4rem 0.5rem;
  text-decoration: none;
}

.filterButton {
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  border-radius: 0.4rem;
  color: #ffffff;
  font-size: 1.2rem;
  float: bottom;
  font-weight: bold;
  padding: 0.4rem 0.5rem;
  text-decoration: none;
}

.clearCompletedButton {
  background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
  border-radius: 0.4rem;
  color: #ffffff;
  font-size: 1.2rem;
  float: bottom;
  font-weight: bold;
  margin-right: 1rem;
  padding: 0.4rem 0.5rem;
  text-decoration: none;
  float: right;
}

.itemsLeft {
  float: left;
  font-size: 2rem;
}

input[type='checkbox'] {
  margin-right: 1rem;
  margin-left: 0.5rem;
}

h1 {
  color: #FFFFFF;
}